*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body>div{
    width: 80%;
    margin: auto;
    padding: 2rem;
}
h1{
    text-align: center;
}
.inputContainer{
    border-bottom: 2px solid;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
.inputContainer input{
    padding: .8rem ;
    background-color: transparent;
    width: 100%;
    border: 0;
    outline: none;
    font-size: 1.2rem;
}
.inputContainer button{
    padding: .8rem 2vw;
    border: 0;
    font-weight: 550;
    width: 25%;
}
ul{
    list-style: none;
    margin-top: 1rem;
}
li{
    background-color: rgb(149, 197, 231);
   
    padding:.8rem 1rem .8rem 2.5rem;
    position: relative;
}

li:nth-child(even){
    background-color: rgb(119, 181, 236);
}
li:hover{
    background-color: cornflowerblue
}
li.checked{
    text-decoration: line-through;
    background-color: rgb(228, 125, 40);
}
li.checked::before {
    position: absolute;
    content: "";
    left: 10px;
    top: 16px;
    border-width:0 0  2px 2px ;
    height: 7px;
    border-style: solid;
    transform: rotate(-45deg);
    width: 15px;
}       
.close{
    position: absolute;
    right: 0rem;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
   font-size: 1.4rem;
    height: 100%;
    width: 3rem;
}
.close:hover{
   background-color: rgb(248, 139, 49);
}